@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Header */

.nav-custom {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: ease-in-out 0.3s;
  width: 100%;
  z-index: 1;
}

.sticky-nav {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a::after {
  background-color: #651fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 2px;
  transition: width 0.2s ease-in-out;
  width: 0%;
}

.custom-brand-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 10px;
}

/* Main content home*/

.header-hero-content {
  justify-content: center;
  background-image: url("../assets/images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.header-hero-content h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 72px;
}

.header-hero-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-content::before {
  content: "";
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.opening-container {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}

.opening-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}

.opening-container p {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.opening-container a {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.planet-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/carousel-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.text-carousel h1 {
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 5px;
}

.carousel a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

/* Main content planets */

.header-hero-content-planets {
  justify-content: flex-start;
  background-image: url("../assets/images/planets-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 0 50px;
  position: relative;
  z-index: 0;
}

.header-hero-content-planets h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 56px;
}

.header-hero-content-planets p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-content-planets::before {
  content: "";
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.planets-container {
  padding: 30px;
}

.planets-container .card-content h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.planets-container .card-content p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Main content moons */

.header-hero-content-moons {
  justify-content: flex-start;
  background-image: url("../assets/images/moons-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 0 50px;
  position: relative;
  z-index: 0;
}

.header-hero-content-moons h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 56px;
}

.header-hero-content-moons p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-content-moons::before {
  content: "";
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.moons-container {
  padding: 30px;
}

.moons-container .card-content h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.moons-container .card-content p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Main content facts */

.header-hero-content-facts {
  justify-content: flex-start;
  background-image: url("../assets/images/carousel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 0 50px;
  position: relative;
  z-index: 0;
}

.header-hero-content-facts h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 56px;
}

.header-hero-content-facts p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-content-facts::before {
  content: "";
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.facts-container {
  padding: 30px;
}

.collapsible-header {
  padding: 30px;
}

.collapsible-header span {
  color: #651fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.collapsible-body span {
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/* Footer */

.page-footer {
  padding-top: 0;
}

.footer-social-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  width: 100%;
}

.social-media-connect-text {
  font-size: 20px;
  font-weight: 400;
}

.social-media-icon-container {
  display: flex;
  height: 25px;
  width: 300px;
}

.icon-social-media path {
  fill: white;
}

.icon-social-media path:hover {
  fill: #e2e8f0;
}

footer .footer-copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161c27;
  color: white;
  height: 80px;
  width: 100%;
}

/* Responsive breakpoints */

@media screen and (max-width: 600px) {
  .footer-social-media-container {
    flex-direction: column;
    padding: 30px 0;
  }

  .social-media-connect-text {
    margin-bottom: 25px;
  }
}
